*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*==============================================================*/

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


body{
    width: 100%;
}

.conteiner{
    max-width: 1280px;
    height: 3349px;
    position: relative;
    margin: 0 auto;
    padding: 20px;
}

.header {
    z-index: 2;
    width: 1280px;
    height: 80px;
    position: fixed;
    box-shadow: 0px 8px 15px rgba(79, 81, 83, 0.2);
}

    .header__logo {
        position: absolute;
        width: 51px;
        height: 51px;
        left: 39px;
        top: 16px;
        background: url(../Img/logo.png)0 0 /cover no-repeat;
    }

    .header__translation {
        padding: 0px;
        position: absolute;
        width: 145px;
        height: 26px;
        left: 810px;
        top: 28px;
    }

    .header__translation label{
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 150%;
        margin-right: 10px;
    }

    .header__translation select{
        width: 40px;
        height: 26px;
        font-weight: 600;
        border-radius: 5px;
        background: none;
    }

.header__btn1 a{ 
    position: absolute;
    width: 150px;
    height: 46px;
    left: 950px;
    top: 18px;
    background: #0177F9;
    border-radius: 10px;
}

.header__btn1 a p{ 
    position: absolute;
    top: 13px;
    left: 35px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align:center;
    color: #fff;
}

.header__btn1:hover{
        opacity: 0.8;
}

.header__btn2 button{
        position: absolute;
        width: 122px;
        height: 46px;
        left: 1117px;
        top: 18px;
        border: 2px solid #0177F9;
        box-sizing: border-box;
        border-radius: 10px;
        font-family: 'Inter', sans-serif;
        font-style:normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 150%;
        text-align: center;
        color: #0177F9;
}

.header__btn2:hover{
    opacity: 0.5;
}

/*====================================================================================*/

.nav-box1{
    position: relative;
    width: 1280px;
    height: 559px;
    left: 0px;
    top: 170px;
    bottom: 0px;
}

.nav-box1__text p:first-child{
    position: absolute;
    width: 558px;
    height: 124px;
    left: 40px;
    top: 82px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    color: #0177F9;
}

.nav-box1__text p:last-child{
    position: absolute;
    width: 457px;
    height: 78px;
    left: 40px;
    top: 226px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #232323;
}

.nav-box1__btn button{
    position: absolute;
    width: 150px;
    height: 46px;
    left: 40px;
    top: 356px;

    background: #0177F9;
    border-radius: 10px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #fff;
}

.nav-box1__btn button:hover{
    opacity: 0.8;
}

.nav-box1__icons{
    position: relative;
    width: 660px;
    height: 501px;
    left: 620px;
    top: 0px;
    border-radius: 10px;
    background: url(../Img/Doctor.jpg)0 0 /cover no-repeat;
}

.nav-box1__colum{
    position: absolute;
    left: 692px;
    top: 443px;
    width: 516px;
    height: 116px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(55, 55, 55, 0.25);
    border-radius: 10px;
}

.nav-box1__text1{
    position: absolute;
    width: 93px;
    height: 36px;
    left: 41px;
    top: 27px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 130%;
    text-align: center;
    color: #0177F9;
}

.nav-box1__text2{
    position: absolute;
    width: 142px;
    height: 22px;
    left: 16px;
    bottom: 27px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    text-align: center;
    color: #A1A1A1;
}

.nav-box1__text3{
    position: absolute;
    width: 70px;
    height: 36px;
    left: 222px;
    top: 27px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 130%;
    text-align: center;
    color: #0177F9;
}

.nav-box1__text4{
    position: absolute;
    width: 142px;
    height: 22px;
    left: 186px;
    bottom: 27px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    text-align: center;
    color: #A1A1A1;
}

.nav-box1__text5{
    position: absolute;
    width: 55px;
    height: 36px;
    right: 61px;
    top: 27px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 130%;
    text-align: center;
    color: #0177F9;
}

.nav-box1__text6{
    position: absolute;
    width: 142px;
    height: 22px;
    right: 18px;
    bottom: 27px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    text-align: center;
    color: #A1A1A1;

}

/*===============================================================*/

.nav-box2 {
    position: absolute;
    width: 1280px;
    height: 590px;
    top: 846px;
    left: 0px;
}

.nav-box2__icons{
    position: absolute;
    width: 529px;
    height: 590px;
    left: 40px;
    top: 0px;
    border-radius:200px 0px 0px 0px;
    background: url(../Img/Hand.jpg)center bottom /cover no-repeat;
}

.nav-box2__text{
    position: absolute;
    width: 490px;
    height: 508px;
    top: 30px;
    left: 640px;
}

.nav-box2__text1 p:first-child{
    position: relative;
    width: 490px;
    height: 52px;
    left: 0px;
    top: 0px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #0177F9;
}

.nav-box2__text1 p:last-child{
    position: relative;
    width: 490px;
    height: 52px;
    left: 0px;
    top: 14px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #232323;
}

.nav-box2__list{
    position: relative;
    width: 450px;
    height: 346px;
    top: 94px;
    left: 0px;
    text-align: right;
}

.nav-box2__logo1{
    position: absolute;
    width: 48px;
    height: 48px;
    left: 0px;
    top:0px;
    background: #E5F6FE;
    border-radius: 8px;
}

.nav-box2__list1{
    position: absolute;
    width: 500px;
    height: 48px;
    left: 0px;
    top: 0px;
    text-align: center;
}

.nav-box2__list1 p{
    position: absolute;
    width: 228px;
    height: 26px;
    left: 68px;
    top: 11px;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #232323;
}

.nav-box2__list2{
    position: absolute;
    width: 500px;
    height: 48px;
    left: 0px;
    top: 72px;
    text-align: center;
}

.nav-box2__list2 p{
    position: absolute;
    width: 304px;
    height: 26px;
    left: 68px;
    top: 11px;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #232323;
}

.nav-box2__list3{
    position: absolute;
    width: 500px;
    height: 48px;
    left: 0px;
    top: 148px;
    text-align: center;
}

.nav-box2__list3 p{
    position: absolute;
    width: 220px;
    height: 26px;
    left: 68px;
    top: 11px;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #232323;
}

.nav-box2__list4{
    position: absolute;
    width: 500px;
    height: 48px;
    left: 0px;
    top: 220px;
    text-align: center;
}


.nav-box2__list4 p{
    position: absolute;
    width: 261px;
    height: 26px;
    left: 68px;
    top: 11px;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #232323;
}

.nav-box2__list5{
    position: absolute;
    width: 500px;
    height: 48px;
    left: 0px;
    top: 292px;
    text-align: center;
}

.nav-box2__list5 p{
    position: absolute;
    width: 225px;
    height: 26px;
    left: 68px;
    top: 11px;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #232323;
}

/*=================================================================================================*/

.nav-box3{
    position: absolute;
    width: 1240px;
    height: 479px;
    left: 40px;
    top: 1545px;
}

.nav-box3__text{
    position: absolute;
    width: 580px;
    height: 52px;
    left: 318px;
    top: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    text-align: center;
    color: #232323;
}

.nav-box3__line{
    position: absolute;
    width: 1220px;
    height: 188px;
    left: 20px;
    top: 202px;
    background: #F3F3FB;
}


.nav-box3__card1{
    position: absolute;
    width: 270px;
    height: 367px;
    left: 40px;
    top: 112px;
    background: #FFFFFF;
    box-shadow: 0px 8px 22px rgba(77, 77, 77, 0.1);
    border-radius: 10px;
}
.nav-box3__avatar1{
    position: absolute;
    width: 94px;
    height: 94px;
    left: 88px;
    top: 32px;
    border-radius: 50%;
    background: url(../Img/avatar1.png)0 0 /cover no-repeat;
}
.nav-box3__card2{
    position: absolute;
    width: 270px;
    height: 367px;
    left: 350px;
    top: 112px;
    background: #FFFFFF;
    box-shadow: 0px 8px 22px rgba(77, 77, 77, 0.1);
    border-radius: 10px;
}
.nav-box3__avatar2{
    position: absolute;
    width: 94px;
    height: 94px;
    left: 88px;
    top: 32px;
    border-radius: 50%;
    background: url(../Img/avatar2.png)0 0 /cover no-repeat;
}
.nav-box3__card3{
    position: absolute;
    width: 270px;
    height: 367px;
    left: 652px;
    top: 112px;
    background: #0177F9;
    box-shadow: 0px 8px 22px rgba(77, 77, 77, 0.1);
    border-radius: 10px;
}
.nav-box3__avatar3{
    position: absolute;
    width: 94px;
    height: 94px;
    left: 88px;
    top: 32px;
    border-radius: 50%;
    border: 4px solid #FFFFFF;
    background: url(../Img/avatar3.png)0 0 /cover no-repeat;
}
.nav-box3__card4{
    position: absolute;
    width: 270px;
    height: 367px;
    left: 954px;
    top: 112px;
    background: #FFFFFF;
    box-shadow: 0px 8px 22px rgba(77, 77, 77, 0.1);
    border-radius: 10px;
}
.nav-box3__avatar4{
    position: absolute;
    width: 94px;
    height: 94px;
    left: 88px;
    top: 32px;
    border-radius: 50%;
    background: url(../Img/avatar4.png)0 0 /cover no-repeat;
}
.nav-box3__card1 p:nth-child(2){
    position: absolute;
    width: 140px;
    height: 30px;
    left: 65px;
    top: 150px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #232323;
}

.nav-box3__card1 p:nth-child(3){
    position: absolute;
    width: 140px;
    height: 26px;
    left: 65px;
    top: 180px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    text-align: center;
    color: #D6D6D6;
}

.nav-box3__card1 p:nth-child(4){
    position: absolute;
    width: 140px;
    height: 47px;
    left: 75px;
    top: 278px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 175%;
    text-align: center;
    color: #232323;
}

.nav-box3__card2 p:nth-child(2){
    position: absolute;
    width: 140px;
    height: 30px;
    left: 65px;
    top: 150px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #232323;
}

.nav-box3__card2 p:nth-child(3){
    position: absolute;
    width: 140px;
    height: 26px;
    left: 65px;
    top: 180px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    text-align: center;
    color: #D6D6D6;
}

.nav-box3__card2 p:nth-child(4){
    position: absolute;
    width: 140px;
    height: 47px;
    left: 75px;
    top: 278px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 175%;
    text-align: center;
    color: #232323;
}

.nav-box3__card3 p:nth-child(2){
    position: absolute;
    width: 140px;
    height: 30px;
    left: 65px;
    top: 150px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17.5px;
    line-height: 100%;
    text-align: center;
    color: #232323;
}

.nav-box3__card3 p:nth-child(3){
    position: absolute;
    width: 140px;
    height: 26px;
    left: 65px;
    top: 180px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    text-align: center;
    color: #D6D6D6;
}

.nav-box3__card3 p:nth-child(4){
    position: absolute;
    width: 140px;
    height: 47px;
    left: 75px;
    top: 278px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 175%;
    text-align: center;
    color: #232323;
}

.nav-box3__card4 p:nth-child(2){
    position: absolute;
    width: 140px;
    height: 30px;
    left: 65px;
    top: 150px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #232323;
}

.nav-box3__card4 p:nth-child(3){
    position: absolute;
    width: 140px;
    height: 26px;
    left: 65px;
    top: 180px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    text-align: center;
    color: #D6D6D6;
}

.nav-box3__card4 p:nth-child(4){
    position: absolute;
    width: 140px;
    height: 47px;
    left: 75px;
    top: 278px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 175%;
    text-align: center;
    color: #232323;
}

.nav-box3__btn1{
    position: absolute;
    left: 20px;
    right: 1168px;
    top: 270px;
    bottom: 154px;
    border-radius: 50%;
    background: #0177F9;
    transform: rotate(-180deg);
}
.nav-box3__btn1:hover{
    opacity: 0.5;
}
.nav-box3__btn1 p{
    position: absolute;
    left: 15px;
    top: 7px;
    font-size: 40px;
    font-weight: bold;
    font-family:'Inter', sans-serif; 
    color: #fff;
}
.nav-box3__btn2{
    position: absolute;
    left: 1190px;
    right: 0px;
    top: 270px;
    bottom: 154px;
    border-radius: 50%;
    background: #0177F9;
    transform: rotate(-180deg);
}
.nav-box3__btn2:hover{
    opacity: 0.5;
}
.nav-box3__btn2 p{
    position: absolute;
    left: 12px;
    top: 8px;
    font-size: 40px;
    font-weight: bold;
    font-family:'Inter', sans-serif; 
    color: #fff;
}

/*========================================================================================*/

.nav-box4{
    position: absolute;
    width: 1240px;
    height: 232px;
    left: 40px;
    top: 2144px;
}

.nav-box4__text p{
    position: absolute;
    width: 580px;
    height: 52px;
    left: 350px;
    top: 0px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    text-align: center;
    color: #232323;
}
.nav-box4__logo1{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 145px;
    top: 112px;
    background: url(../Img/logo1.png)0 0 /cover no-repeat;
}

.nav-box4__logo2{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 435px;
    top: 112px;
    background: url(../Img/logo2.png)0 0 /cover no-repeat;
}

.nav-box4__logo3{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 725px;
    top: 112px;
    background: url(../Img/logo3.png)0 0 /cover no-repeat;
}

.nav-box4__logo4{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 1015px;
    top: 112px;
    background: url(../Img/logo4.png)0 0 /cover no-repeat;
}

/*======================================================================*/

.nav-box5{
    position: absolute;
    width: 1240px;
    height: 474px;
    left: 40px;
    top: 2496px;
}

.nav-box5__text p:nth-child(1){
    position: absolute;
    width: 580px;
    height: 52px;
    left: 118px;
    top: 140px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #0177F9;

}

.nav-box5__text p:nth-child(2){
    position: absolute;
    width: 170px;
    height: 30px;
    left: 118px;
    top: 228px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #232323;

}

.nav-box5__text p:nth-child(3){
    position: absolute;
    width: 170px;
    height: 26px;
    left: 147px;
    top: 274px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #232323;
}

.nav-box5__maps{
    position: absolute;
    width: 710px;
    height: 474px;
    left: 533px;
    top: 0px;
    background: url(../Img/maps.png)0 0 /cover no-repeat;
    border-radius: 15px;
}

/*=========================================================================================*/

.fotter{
    position: absolute;
    width: 1240px;
    height: 339px;
    left: 40px;
    top: 3050px;
    background: #F3F3FB;
}

.fotter__logo{
    position: absolute;
    width: 96px;
    height: 96px;
    left: 40px;
    top: 36px;
    background: url(../Img/logo.png)0 0 /cover no-repeat;
}

.fotter__table p:nth-child(1){
    position: absolute;
    width: 104px;
    height: 30px;
    left: 319.74px;
    top: 40px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #0177F9;
}

.fotter__table p:nth-child(2){
    position: absolute;
    width: 49px;
    height: 26px;
    left: 319.74px;
    top: 106px;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #232323;
}

.fotter__table p:nth-child(3){
    position: absolute;
    width: 49px;
    height: 26px;
    left: 319.74px;
    top: 152px;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #232323;
}

.fotter__table p:nth-child(4){
    position: absolute;
    width: 49px;
    height: 26px;
    left: 319.74px;
    top: 198px;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #232323;
}

.fotter__table p:nth-child(5){
    position: absolute;
    width: 49px;
    height: 26px;
    left: 489.74px;
    top: 106px;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #232323;
}

.fotter__table p:nth-child(6){
    position: absolute;
    width: 49px;
    height: 26px;
    left: 489.74px;
    top: 152px;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #232323;
}

.fotter__table p:nth-child(7){
    position: absolute;
    width: 49px;
    height: 26px;
    left: 489.74px;
    top: 198px;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #232323;
}

.fotter__table p:nth-child(8){
    position: absolute;
    width: 100px;
    height: 26px;
    left: 674.74px;
    top: 106px;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #232323;
}

.fotter__table p:nth-child(9){
    position: absolute;
    width: 49px;
    height: 26px;
    left: 674.74px;
    top: 152px;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #232323;
}

.fotter__table p:nth-child(10){
    position: absolute;
    width: 49px;
    height: 26px;
    left: 674.74px;
    top: 198px;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #232323;
}

.fotter__contacts p:nth-child(1){
    position: absolute;
    width: 89px;
    height: 30px;
    left: 881.74px;
    top: 40px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #0177F9;
}

.fotter__contacts p:nth-child(2){
    position: absolute;
    left: 71.23%;
    right: 16.5%;
    top: 106px;
    bottom: 6.26%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #232323;
}

.fotter__contacts p:nth-child(3){
    position: absolute;
    left: 71.23%;
    right: 16.5%;
    top: 147px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #232323;
}

.fotter__logo1 a{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 881.74px;
    right: 27.99%;
    top: 200px;
    bottom: 2.92%;
    background: url(../Img/logo\ facebook.svg)0 0 /cover no-repeat;
}

.fotter__logo2 a{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 933.74px;
    right: 27.99%;
    top: 200px;
    bottom: 2.92%;
    background: url(../Img/logo_instagram.png)0 0 /cover no-repeat;
}

.fotter__logo3 a{
    position: absolute;
    width: 60px;
    height: 40px;
    left: 985.74px;
    right: 27.99%;
    top: 200px;
    bottom: 2.92%;
    background: url(../Img/logo_youtube.png)0 0 /cover no-repeat;
}